<a href="https://colab.research.google.com/github/dimasn130397/Data_Analyst/blob/master/Test_Data_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Librarry

In [0]:
import pandas as pd
import numpy as np

Import files .csv

In [0]:
url = 'https://raw.githubusercontent.com/dimasn130397/Data_Analyst/master/Inflasi.csv'

Read Data

In [34]:
my_data = pd.read_csv('https://raw.githubusercontent.com/dimasn130397/Data_Analyst/master/Inflasi.csv')
my_data.head()

           Month Inflasi
0      Juni 2019   3.28%
1       Mei 2019   3.32%
2     April 2019   2.83%
3     Maret 2019   2.48%
4  Februari 2019   2.57%

Data Info

In [35]:
my_data.info

<bound method DataFrame.info of               Month Inflasi
0         Juni 2019   3.28%
1          Mei 2019   3.32%
2        April 2019   2.83%
3        Maret 2019   2.48%
4     Februari 2019   2.57%
5      Januari 2019   2.82%
6     Desember 2018   3.13%
7     Nopember 2018   3.23%
8      Oktober 2018   3.16%
9    September 2018   2.88%
10     Agustus 2018   3.20%
11        Juli 2018   3.18%
12        Juni 2018   3.12%
13         Mei 2018   3.23%
14       April 2018   3.41%
15       Maret 2018   3.40%
16    Februari 2018   3.18%
17     Januari 2018   3.25%
18    Desember 2017   3.61%
19    Nopember 2017   3.30%
20     Oktober 2017   3.58%
21   September 2017   3.72%
22     Agustus 2017   3.82%
23        Juli 2017   3.88%
24        Juni 2017   4.37%
25         Mei 2017   4.33%
26       April 2017   4.17%
27       Maret 2017   3.61%
28    Februari 2017   3.83%
29     Januari 2017   3.49%
..              ...     ...
169        Mei 2005   7.40%
170      April 2005   8.12%
171      Maret 2005   8.81%
172   Februari 2005   7.15%
173    Januari 2005   7.32%
174   Desember 2004   6.40%
175   Nopember 2004   6.18%
176    Oktober 2004   6.22%
177  September 2004   6.27%
178    Agustus 2004   6.67%
179       Juli 2004   7.20%
180       Juni 2004   6.83%
181        Mei 2004   6.47%
182      April 2004   5.92%
183      Maret 2004   5.11%
184   Februari 2004   4.60%
185    Januari 2004   4.82%
186   Desember 2003   5.16%
187   Nopember 2003   5.53%
188    Oktober 2003   6.48%
189  September 2003   6.33%
190    Agustus 2003   6.51%
191       Juli 2003   6.27%
192       Juni 2003   6.98%
193        Mei 2003   7.15%
194      April 2003   7.62%
195      Maret 2003   7.17%
196   Februari 2003   7.60%
197    Januari 2003   8.68%
198   Desember 2002   0.00%

[199 rows x 2 columns]>

Type Data

In [55]:
my_data.dtypes

Month      object
Inflasi    object
dtype: object

Kolom yang ada pada Data Frame

In [39]:
my_data.columns

Index(['Month', 'Inflasi'], dtype='object')

# Preprocessing

Convert Object to Float pada kolom inflasi untuk mempermudah mengolah prediksi data

In [0]:
my_data['Inflasi'] = my_data['Inflasi'].str.rstrip('%').astype('float') / 100.0

In [66]:
my_data.dtypes

Month       object
Inflasi    float64
dtype: object

In [67]:
my_data.head()

           Month  Inflasi
0      Juni 2019   0.0328
1       Mei 2019   0.0332
2     April 2019   0.0283
3     Maret 2019   0.0248
4  Februari 2019   0.0257

In [68]:
x = my_data[['Inflasi']].values
x[0:4]

array([[0.0328],
       [0.0332],
       [0.0283],
       [0.0248]])

In [70]:
y = my_data['Month'].values
y[0:5]

array(['Juni 2019', 'Mei 2019', 'April 2019', 'Maret 2019',
       'Februari 2019'], dtype=object)

In [71]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=4)
print('Train : ', x_train.shape, y_train.shape)
print('Test : ', x_test.shape, y_test.shape)

Train :  (159, 1) (159,)
Test :  (40, 1) (40,)

Prediksi menggunakan Metode KNN

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [74]:
k = 2
kn = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)
kn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [76]:
prediksi = kn.predict(x_test)
prediksi

array(['Agustus 2018', 'Oktober 2010', 'Desember 2009', 'Agustus 2013',
       'Mei 2016', 'Desember 2013', 'Agustus 2006', 'Juli 2008',
       'April 2014', 'Juli 2011', 'Februari 2007', 'April 2007',
       'Januari 2015', 'Januari 2005', 'Juli 2011', 'Agustus 2007',
       'Januari 2013', 'Juli 2017', 'Agustus 2013', 'Maret 2004',
       'Juni 2009', 'Januari 2013', 'Februari 2019', 'Desember 2016',
       'Nopember 2016', 'Juni 2016', 'Juni 2018', 'Juni 2016',
       'Maret 2019', 'April 2013', 'April 2016', 'Juni 2013',
       'Februari 2011', 'Januari 2007', 'Desember 2009', 'Agustus 2004',
       'Agustus 2017', 'Januari 2015', 'Juni 2006', 'Mei 2010'],
      dtype=object)

# Visualisasi Data

In [86]:
my_data

              Month  Inflasi
0         Juni 2019   0.0328
1          Mei 2019   0.0332
2        April 2019   0.0283
3        Maret 2019   0.0248
4     Februari 2019   0.0257
5      Januari 2019   0.0282
6     Desember 2018   0.0313
7     Nopember 2018   0.0323
8      Oktober 2018   0.0316
9    September 2018   0.0288
10     Agustus 2018   0.0320
11        Juli 2018   0.0318
12        Juni 2018   0.0312
13         Mei 2018   0.0323
14       April 2018   0.0341
15       Maret 2018   0.0340
16    Februari 2018   0.0318
17     Januari 2018   0.0325
18    Desember 2017   0.0361
19    Nopember 2017   0.0330
20     Oktober 2017   0.0358
21   September 2017   0.0372
22     Agustus 2017   0.0382
23        Juli 2017   0.0388
24        Juni 2017   0.0437
25         Mei 2017   0.0433
26       April 2017   0.0417
27       Maret 2017   0.0361
28    Februari 2017   0.0383
29     Januari 2017   0.0349
..              ...      ...
169        Mei 2005   0.0740
170      April 2005   0.0812
171      Maret 2005   0.0881
172   Februari 2005   0.0715
173    Januari 2005   0.0732
174   Desember 2004   0.0640
175   Nopember 2004   0.0618
176    Oktober 2004   0.0622
177  September 2004   0.0627
178    Agustus 2004   0.0667
179       Juli 2004   0.0720
180       Juni 2004   0.0683
181        Mei 2004   0.0647
182      April 2004   0.0592
183      Maret 2004   0.0511
184   Februari 2004   0.0460
185    Januari 2004   0.0482
186   Desember 2003   0.0516
187   Nopember 2003   0.0553
188    Oktober 2003   0.0648
189  September 2003   0.0633
190    Agustus 2003   0.0651
191       Juli 2003   0.0627
192       Juni 2003   0.0698
193        Mei 2003   0.0715
194      April 2003   0.0762
195      Maret 2003   0.0717
196   Februari 2003   0.0760
197    Januari 2003   0.0868
198   Desember 2002   0.0000

[199 rows x 2 columns]