<a href="https://colab.research.google.com/github/dimasn130397/Data_Analyst/blob/master/Test_Data_Analys_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Data

In [0]:
url = "https://raw.githubusercontent.com/dimasn130397/Data_Analyst/master/mtcarsData.csv"

Import Library

In [0]:
import pandas as pd
import numpy as np

Read Data

In [28]:
my_data = pd.read_csv('https://raw.githubusercontent.com/dimasn130397/Data_Analyst/master/mtcarsData.csv')
my_data.head()

                Cars   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

Kolom yang terdapat pada Data Frame

In [29]:
my_data.columns

Index(['Cars', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

Type Data

In [0]:
my_data.dtypes

Cars     object
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

Menghapus data String agar dapat mempermudah mengkluster data

In [0]:
my_data = my_data.drop(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'], axis=1)

Type data setelah dihapus

In [0]:
my_data.dtypes

mpg     float64
disp    float64
drat    float64
wt      float64
qsec    float64
dtype: object

Inisiasi var x untuk seleksi kolom serta baris

In [31]:
#x = my_data.values[:,1:]
my_data.loc[:, 'mpg_levels'] = my_data
my_data.head()

                Cars   mpg  mpg_levels
0          Mazda RX4  21.0         NaN
1      Mazda RX4 Wag  21.0         NaN
2         Datsun 710  22.8         NaN
3     Hornet 4 Drive  21.4         NaN
4  Hornet Sportabout  18.7         NaN

# Preprocessing

In [0]:
#from sklearn.preprocessing import StandardScaler
#import numpy as np
#x = np.nan_to_num(x)
#x_norm = StandardScaler().fit_transform(x)
#x_norm[0:4]
mpg = my_data['mpg']
mpg_level = my_data['mpg_levels']

Klasterisasi menggunakan K-Means

In [0]:
#from sklearn.cluster import KMeans
#k = 3
#k_means = KMeans(init = 'k-means++', n_clusters=k, n_init=12)
#k_means.fit(x_norm)
my_data['mpg_levels'] = pd.Series(['no'])

In [45]:
#labels = k_means.labels_
#labels

0      no
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
Name: mpg_levels, dtype: object

Menambahkan kolom baru sebagai label untuk memisahkan class sesuai mpg yangt telah ditentukan.

In [0]:
#my_data['mpg_level'] = labels

In [0]:
#my_data.head()

    mpg   disp  drat     wt   qsec  mpg_level
0  21.0  160.0  3.90  2.620  16.46          0
1  21.0  160.0  3.90  2.875  17.02          0
2  22.8  108.0  3.85  2.320  18.61          2
3  21.4  258.0  3.08  3.215  19.44          1
4  18.7  360.0  3.15  3.440  17.02          1

In [0]:
#my_data

     mpg   disp  drat     wt   qsec  mpg_level
0   21.0  160.0  3.90  2.620  16.46          0
1   21.0  160.0  3.90  2.875  17.02          0
2   22.8  108.0  3.85  2.320  18.61          2
3   21.4  258.0  3.08  3.215  19.44          1
4   18.7  360.0  3.15  3.440  17.02          1
5   18.1  225.0  2.76  3.460  20.22          1
6   14.3  360.0  3.21  3.570  15.84          1
7   24.4  146.7  3.69  3.190  20.00          2
8   22.8  140.8  3.92  3.150  22.90          2
9   19.2  167.6  3.92  3.440  18.30          2
10  17.8  167.6  3.92  3.440  18.90          2
11  16.4  275.8  3.07  4.070  17.40          1
12  17.3  275.8  3.07  3.730  17.60          1
13  15.2  275.8  3.07  3.780  18.00          1
14  10.4  472.0  2.93  5.250  17.98          1
15  10.4  460.0  3.00  5.424  17.82          1
16  14.7  440.0  3.23  5.345  17.42          1
17  32.4   78.7  4.08  2.200  19.47          2
18  30.4   75.7  4.93  1.615  18.52          2
19  33.9   71.1  4.22  1.835  19.90          2
20  21.5  120.1  3.70  2.465  20.01          2
21  15.5  318.0  2.76  3.520  16.87          1
22  15.2  304.0  3.15  3.435  17.30          1
23  13.3  350.0  3.73  3.840  15.41          0
24  19.2  400.0  3.08  3.845  17.05          1
25  27.3   79.0  4.08  1.935  18.90          2
26  26.0  120.3  4.43  2.140  16.70          2
27  30.4   95.1  3.77  1.513  16.90          2
28  15.8  351.0  4.22  3.170  14.50          0
29  19.7  145.0  3.62  2.770  15.50          0
30  15.0  301.0  3.54  3.570  14.60          0
31  21.4  121.0  4.11  2.780  18.60          2