<a href="https://colab.research.google.com/github/dimasn130397/Data_Analyst/blob/master/Test_Data_Analys_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Data

In [0]:
url = "https://raw.githubusercontent.com/dimasn130397/Data_Analyst/master/mtcarsData.csv"

Import Library

In [0]:
import pandas as pd
import numpy as np

Read Data

In [26]:
my_data = pd.read_csv('https://raw.githubusercontent.com/dimasn130397/Data_Analyst/master/mtcarsData.csv')
my_data.head()

                Cars   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

Kolom yang terdapat pada Data Frame

In [27]:
my_data.columns

Index(['Cars', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

Type Data

In [28]:
my_data.dtypes

Cars     object
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

Menghapus data String agar dapat mempermudah mengkluster data

In [0]:
my_data = my_data.drop(['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'], axis=1)

Type data setelah dihapus

In [0]:
my_data.dtypes

Cars     object
mpg     float64
dtype: object

Inisiasi var x untuk seleksi kolom serta baris

In [0]:
mpg_level = pd.Series([])

# Preprocessing

Klasterisasi menggunakan K-Means

In [0]:
for i in range(len(my_data)):
  if my_data["mpg"][i] >= 30:
    mpg_level[i]= "high"
  elif my_data["mpg"][i]>=20:
    mpg_level[i]= "medium"
  else:
    mpg_level[i]= "low"

In [0]:
my_data.insert(2, "mpg_level", mpg_level)

Menambahkan kolom baru sebagai label untuk memisahkan class sesuai mpg yangt telah ditentukan.

In [33]:
my_data

                   Cars   mpg mpg_level
0             Mazda RX4  21.0    medium
1         Mazda RX4 Wag  21.0    medium
2            Datsun 710  22.8    medium
3        Hornet 4 Drive  21.4    medium
4     Hornet Sportabout  18.7       low
5               Valiant  18.1       low
6            Duster 360  14.3       low
7             Merc 240D  24.4    medium
8              Merc 230  22.8    medium
9              Merc 280  19.2       low
10            Merc 280C  17.8       low
11           Merc 450SE  16.4       low
12           Merc 450SL  17.3       low
13          Merc 450SLC  15.2       low
14   Cadillac Fleetwood  10.4       low
15  Lincoln Continental  10.4       low
16    Chrysler Imperial  14.7       low
17             Fiat 128  32.4      high
18          Honda Civic  30.4      high
19       Toyota Corolla  33.9      high
20        Toyota Corona  21.5    medium
21     Dodge Challenger  15.5       low
22          AMC Javelin  15.2       low
23           Camaro Z28  13.3       low
24     Pontiac Firebird  19.2       low
25            Fiat X1-9  27.3    medium
26        Porsche 914-2  26.0    medium
27         Lotus Europa  30.4      high
28       Ford Pantera L  15.8       low
29         Ferrari Dino  19.7       low
30        Maserati Bora  15.0       low
31           Volvo 142E  21.4    medium